.TodoList {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1.5rem;
  background: #272822;
  color: #f8f8f2;
}

.TodoList ul {
  list-style: none;
}

.logo-container {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto -1.5rem 0;
  padding: 1rem 1.5rem;
  background: #272822;
  border-top: 1px solid #3e3d32;
}

.deephaven-logo {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
